<!DOCTYPE html>
<html>
<head>
	<title>Confirmation Page</title>
	<style>
		.container {
			text-align: center;
			margin-top: 100px;
		}
		h1 {
			font-size: 24px;
			margin-bottom: 20px;
		}
		p {
			font-size: 18px;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1>You're all set!</h1>
		<p>Looking to join a game?</p>
        <a href="{{ url_for('game.associate', player_side='right') }}" id="join-right">Join Right</a>
        <a href="{{ url_for('game.associate', player_side='left') }}" id="join-left">Join Left</a>
	</div>
</body>
</html>
