<!DOCTYPE html>
<html>
<head>
    <title>Split Page</title>
    <style>
        body {
            background-color: #338379;
            margin: 0;
            padding: 0;
        }

        div {
            width: 50%;
        }

        table {
            width: 80%;
            padding: 10px;
        }

        img {
            width: 80%;
            padding: 10px;
        }
    </style>
</head>
<body>
<div id="leftSide" style="float: left">
    <table>
        <tr>
            <th>Table 1</th>
        </tr>
        <tr>
            <td>Content goes here</td>
        </tr>
    </table>
    <img src="{{ qr_code_p1 }}">
</div>
<div id="rightSide" style="float: right">
    <table>
        <tr>
            <th>Table 2</th>
        </tr>
        <tr>
            <td>Content goes here</td>
        </tr>
    </table>
    <img src="{{ qr_code_p2 }}">
</div>
</body>
</html>
